/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom Styles */

header {
    background-color: #191919;
}

nav ul {
    text-align: center;
}

nav ul li {
    color: white;
    display: inline-block;
    vertical-align: middle;
    margin: 0.25em 0.75em;
}

.hero-banner {
    background:url("images/sunset.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    position: relative;
}

.hero-text {
    color:white;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    text-align:center
}

.hero-text h1, .hero-text h5 {
    margin: 0.75em 0;
}

.about {
    margin: 3em auto;
    padding: 2em;
    text-align: center;
}

.about h2 {
    margin: 0.5em;
}

.about h4 {
    margin: 2em;
}

.about p {
    margin: 2em 0;
}

